
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  background: #2b3443;
}
.main-inner{
  background: #f5f9fc;
  width: 1100px;
  margin: 0 auto;
  padding: 40px 40px;
}
h1{

}
h1 p{
  padding-bottom: 20px;
  border-bottom: 1px solid #c0c0c0;
  font-size: 16px;
  color: #999;
  margin-top: 20px;
}
h3{
  margin: 20px 0;
}
.f1,.f2{
  border: 1px solid #c3c3c3;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
 h4{
  margin-bottom: 10px;
}
.f1 p,.f2 p{
  margin-bottom: 10px;
}
.f1 ul,.f2 ul{
  margin-left: 20px;
}
